<%= form_tag(top_screen_search_path) do %>
  <%= label_tag :link, 'Search repo' %>
  <%= text_field_tag :link %>
  <%= submit_tag 'Search' %>
<% end %>

<div class="results">
  <% @contributers&.each do |elem| %>
    <p>
      <%= elem %> <br>
      <%= link_to "#{elem}.pdf", exports_download_path(contributer: elem) %>
    </p>
  <% end %>
</div>
